# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & Receipts
*.log
scratch/
*.egg-info/

# OS Specific
Thumbs.db
.DS_Store
